/* Цвета шрифтов */
$headersColor: #353535;
$buttonPlaceHolderColor: #6C6C6C;
$governHelpColor: #4A4A4A;

/* Цвета фонов */

$filterBGColor: #ECEDED;
$giftRadialGradientColor: rgba(17, 140, 200, 0.9);;
$governmentFinHelpColor: #EFF0F0;

/* Часто встречающиеся длины */
$boxShadow: 0px 4px 10px 0px #9E9898;
$borderRadius: 8px;

/* Миксины для текста */
@mixin fontHeaderOfText {
    font: {
        weight: 700;
        size: 22px;
        family: 'Oswald', sans-serif;
    }
    //letter-spacing: -1px;
}

* {
    box-sizing: border-box;
    margin: 0;
    font: {
        // family: "Oswald", serif;
        // family: "Red Hat Display", sans-serif;
        // family: "Gilroymedium", sans-serif;
        family: "Inter", serif;
        weight: bold;
    }
}

._1thPage {
    min-width: 1000px;
    width: 1110px;
    height: 568px;
    margin: auto;
}
.upperBG {
    background: {
        image: url(assets/myPict/bmw330.jpg);
        size: cover;
        repeat: no-repeat;
        position: 100% 92%;
        //position: bottom;
        //attachment: fixed;
    }
    height: 456px;
}
.serch_new_auto {
    display: block;
    text-align: center;
    text-transform: uppercase;
    padding-top: 26px;
    margin-bottom: -40px;
    @include fontHeaderOfText;
    //color: white;
}

// .img_car {
//     height: 250px;
//     aspect-ratio: 16 / 10;
//     margin: 17% 0% 0% 17%;
// }

/* меню нахождения машины по фильтрам */

/* Переменные для фильтров машин */
$buttonWidth: 240px;
$buttonHeight: 36px;

/* Миксины для фильтров */
@mixin selectCarFilter {
    select {
        border: none;
        outline: none;
        border-radius: $borderRadius;
        color: $buttonPlaceHolderColor;
        option:not(first-child){
            color: black;
        }
        option:active {
            border: none;
            outline: none;
        }
        font: {
            weight: 400;
        }
        box-shadow: $boxShadow;
        padding-left: 12px;
    }
    
}

@mixin buttonCarFilter {
    button {
        border: none;
        outline: none;
        border-radius: $borderRadius;
        color: $buttonPlaceHolderColor;
        background-color: #fff;
        font: {
            weight: 400;
        }
        box-shadow: $boxShadow;

    }
    
}

@mixin buttonCarFilterBlue {
    button {
        border: none;
        outline: none;
        border-radius: $borderRadius;
        background-color: $giftRadialGradientColor;
        color: white;
        font: {
            weight: 400;
        }
        box-shadow: $boxShadow;
    }
}

@mixin spanCarFilter {
    color: $buttonPlaceHolderColor;
    font: {
        family: "Gilroymedium", sans-serif;
        weight: 400;
        size: 14px;
    }
    padding-left: 15px;
    margin-bottom: 0;
}

.wrapper {
    width: 960px;
    height: 200px;
    margin: -88px auto;
    background-color: $filterBGColor;
    border-radius: $borderRadius;
}
.find_car_params {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 2;
    column-gap: 40px;
    row-gap: 22px;
    span {
        width: $buttonWidth;
        @include spanCarFilter;
    }
    padding-block: 35px;
    padding-right: 18px;
    //padding: auto auto;
    align-content: center;
    align-items: center;
    justify-items: center;
    justify-content: center;
}

.carBrand {
    display: flex;
    flex-direction: column;
    select {
        width: $buttonWidth;
        height: $buttonHeight;
    }
    @include selectCarFilter;
}
.carModel {
    display: flex;
    flex-direction: column;
    select {
        width: $buttonWidth;
        height: $buttonHeight;
    }
    @include selectCarFilter;
}
.transmissionType {
    display: flex;
    flex-direction: column;
    button {
        width: 80px;
        height: $buttonHeight;
    }
    .transButtons {
        display: flex;
        gap: 22px;
    }
    @include buttonCarFilter;
}
.costFrom {
    display: flex;
    flex-direction: column;
    select {
        width: $buttonWidth;
        height: $buttonHeight;
    }
    @include selectCarFilter;
}
.costUntil {
    display: flex;
    flex-direction: column;
    select {
        width: $buttonWidth;
        height: $buttonHeight;
    }
    @include selectCarFilter;
}
.showSuggesions {
    button {
        width: 286px;
        height: 49px;
        padding-right: 10px;
        text-transform: uppercase;
        margin-top: 11px;
        margin-right: -5;
    }
    @include buttonCarFilterBlue;
    
}



/* здесь буду писать примечания на следующую сессию
- нужно не забыть про opacity 60
- вернуться к воросу с машиной 
- стрелочка select
*/