@charset "UTF-8";
/* Цвета шрифтов */
/* Цвета фонов */
/* Часто встречающиеся длины */
/* Миксины для текста */
* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Inter", serif;
  font-weight: bold;
}

._1thPage {
  background-image: url(assets/myPict/bg_2ndtry.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  background-attachment: fixed;
  min-width: 1000px;
  width: 100%;
  height: 456px;
}

.serch_new_auto {
  display: block;
  text-align: center;
  text-transform: uppercase;
  padding-top: 88px;
  margin-bottom: -45px;
  font-weight: 700;
  font-size: 22px;
  font-family: "Oswald", sans-serif;
}

/* меню нахождения машины по фильтрам */
/* Переменные для фильтров машин */
/* Миксины для фильтров */
.find_car_params {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 2;
  column-gap: 40px;
  row-gap: 20px;
  width: 960px;
  height: 200px;
  padding: 65px 35px;
  background-color: #ECEDED;
  border-radius: 8px;
  margin: 350px auto;
  align-content: center;
  align-items: center;
  justify-items: center;
  justify-content: center;
}
.find_car_params span {
  width: 240px;
  color: #6C6C6C;
  font-weight: 400;
}
.find_car_params div {
  width: auto;
}

.carBrand {
  display: flex;
  flex-direction: column;
}
.carBrand select {
  width: 240px;
  height: 36px;
}
.carBrand select {
  border: none;
  outline: none;
  border-radius: 8px;
  color: #6C6C6C;
  font-weight: 400;
  box-shadow: 0px 4px 10px 0px #9E9898;
}
.carBrand select option:not(first-child) {
  color: black;
}
.carBrand select option:active {
  border: none;
  outline: none;
}

.carModel {
  display: flex;
  flex-direction: column;
}
.carModel select {
  width: 240px;
  height: 36px;
}
.carModel select {
  border: none;
  outline: none;
  border-radius: 8px;
  color: #6C6C6C;
  font-weight: 400;
  box-shadow: 0px 4px 10px 0px #9E9898;
}
.carModel select option:not(first-child) {
  color: black;
}
.carModel select option:active {
  border: none;
  outline: none;
}

.transmissionType {
  display: flex;
  flex-direction: column;
}
.transmissionType button {
  width: 80px;
  height: 36px;
}
.transmissionType .transButtons {
  display: flex;
  gap: 22px;
}
.transmissionType button {
  border: none;
  outline: none;
  border-radius: 8px;
  color: #6C6C6C;
  background-color: #fff;
  font-weight: 400;
  box-shadow: 0px 4px 10px 0px #9E9898;
}

.costFrom {
  display: flex;
  flex-direction: column;
}
.costFrom select {
  width: 240px;
  height: 36px;
}
.costFrom select {
  border: none;
  outline: none;
  border-radius: 8px;
  color: #6C6C6C;
  font-weight: 400;
  box-shadow: 0px 4px 10px 0px #9E9898;
}
.costFrom select option:not(first-child) {
  color: black;
}
.costFrom select option:active {
  border: none;
  outline: none;
}

.costUntil {
  display: flex;
  flex-direction: column;
}
.costUntil select {
  width: 240px;
  height: 36px;
}
.costUntil select {
  border: none;
  outline: none;
  border-radius: 8px;
  color: #6C6C6C;
  font-weight: 400;
  box-shadow: 0px 4px 10px 0px #9E9898;
}
.costUntil select option:not(first-child) {
  color: black;
}
.costUntil select option:active {
  border: none;
  outline: none;
}

.showSuggesions button {
  width: 286px;
  height: 49px;
}
.showSuggesions button {
  border: none;
  outline: none;
  border-radius: 8px;
  background-color: rgba(17, 140, 200, 0.8);
  color: white;
  font-weight: 400;
  box-shadow: 0px 4px 10px 0px #9E9898;
}

/* здесь буду писать примечания на следующую сессию
- нужно не забыть про opacity 60
- вернуться к воросу с машиной
- после доведения фильтров подводим в px perfect *//*# sourceMappingURL=style.css.map */